/*Esto es general para todo el proyecto*/
*{
    box-sizing: border-box;
}
  
html {
      scroll-behavior: smooth;
}

body {
    font-family: 'Almendra';
    font-size: 22px;
    background-color: #FEF5EB;
}
   
header{
    width:70%;
    margin: auto;
    text-align: center;
}

.header{
    width: 60%;
    margin: 0.9em auto;
    padding: 0.23em;
}

main{
    width:70%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
}

p{
    text-align: justify;
    line-height: 1.25;
  }

nav{
    display: flex;
    justify-content: center;
    background-color: #FCC688;
}
      
nav > a {
    color: black;
    padding: 0.7em 1.1em;
    text-decoration: none;
    text-align: center;
}
    
nav > a:hover{
    background-color:#F9A94D ;
}

footer{
    margin-top: 50px;
    margin-bottom: 60px;
    padding-top: 20px;
}

div.top{
    position:fixed;
    bottom:0.45em;
    right: 0.45em;
    padding: 0.45em;
    border-radius: 0.23em;
    background-color: #FCC688;
    opacity:80%;
}
    
div.top > a{
    text-decoration: none;
    color:black;
}


/*Esto es index*/

article{
    padding: 0.9em;
    margin: 1.36em auto;
}

#ir{
    width: 10%;
}

a{
    text-decoration: none;
    color: black;
}

#index{
    
    background: url('../assets/quiz.jpg') ;
    background-position: center; 
    background-size: contain;
    background-repeat: repeat;
    z-index: -1;
}

.opac{
background-color: #fef5ebdb;
}



/*empieza página quiz*/

#libro{
    width: 50%;
}

fieldset{
    padding: 0.9em;
    margin: 3em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


div{
    flex: 50%;
    max-width: 40%;
    padding: 0.68em;
    margin: 0.45em;
    border: black solid 1px;
}

button{

    background-color: #ADD7C6;
    padding: 0.45em;
    margin :0.45em;
    border-radius: 0.25em;
    font-size: large;
    font-family: 'Almendra';
}

button:active{
    background-color: #C8E4D9;
}

span{
    padding: 0.45em;
    text-align: justify;
}

.azul{
   background-color: #D2DBEE;

   & input:checked + label{
    background-color: #B5C4E3
   }
}

.verde{
    background-color: #C8E4D9; 
    & input:checked + label{
        background-color: #ADD7C6;
       }
}

.amarillo{
    background-color: #FDD9AF; 
    & input:checked + label{
        background-color: #FCC688;
       }
}

.rojo{
    background-color: #F2C3BB; 
    & input:checked + label{
        background-color: #EBA598;
       }
}

.lila{
    background-color: #EED2ED; 
    & input:checked + label{
        background-color: #E3B5E1;
       }
}



/*media queries*/ 

@media only screen and (max-width: 768px) {
    /*index*/

    header{
        width: 100%;
    }
    main{
        width: 100%;
    }
    .header{
        width: 90%;
    }
    nav, main{   
        flex-direction: column;
      }
}

@media only screen and (max-width: 550px){
    
    div{
        flex: 100%;
        max-width: 100%;
    }
    
}
